*{
    margin: 0;
    padding: 0;
}
.pet_content{
    position: relative;
    width: 100%;
    height: 10rem;
}
.pet_content .level_info{
    position: absolute;
    height: 1rem;
    width: 100%;
    font-size: 0.8rem;
    line-height: 1rem;
    z-index: 10;
}
.pet_content .level_info .level_info_wrap{
    position: relative;
    width: 100%;
    height: 100%;

}
.pet_content .level_info .level_info_wrap span:first-child{
    position: absolute;
    left: 0.5rem;
}
.pet_content .level_info .level_info_wrap span:last-child{
    position: absolute;
    right: 0.5rem;
}
.pet_content progress{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 1rem;
    z-index: 5;
}
.pet_content canvas{
    display: block;
    margin: 0 auto;
}
.pet_content .appendix{
    width: 5.5rem;
    height: 9rem;
    position: absolute;
    right: 0;
    bottom:  0;
}

.appendix .property{
    position: relative;
    width: 100%;
    margin-top: 0.3rem;
}
.appendix .property h1{
    text-align: center;
    font-size: 0.6rem;
    color: #e38d13;
}
.appendix .property p{
    font-size: 0.7rem;
    color: #fff;
}
.appendix .property p span:first-child{
    text-align: right;
    display: inline-block;
    width: 55%;
}
.appendix .property p span:last-child{
    text-align: left;
    width: 45%;
}
.appendix  .operation{
    position: relative;
    width: 100%;
    margin-top: 0.3rem;
}
.appendix  .operation p{
    text-align: center;
    margin-bottom: 0.2rem;
}
.appendix  .operation p button{
    width: 50%;
    height: 1.5rem;
}
.appendix  .operation a{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    color: #5d71ff;
}

.train_content{
    display: none;
    position: absolute;
    z-index: 10;
    left: 15%;
    top: 1.5rem;
    width: 70%;
    background: #bb55ee;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.2);
}
.train_content .train_wrap{
    position: relative;
    width: 90%;
    margin: 0.5rem auto;
    overflow: hidden;
}
.train_content h1{
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}
.train_content label{
    width: 50%;
    display: block;
    float: left;
}
.train_content span{
    line-height: 0.8rem;
    font-size: 0.8rem;
}
.train_content input{
    vertical-align: middle;
    width: 0.8rem;
    height: 0.8rem;
}
.train_content button{
    width: 40%;
    height: 1.5rem;
    margin: 0.5rem 5%;
}
button.submit {
    background: #e33f25;
    color: #fff;
}
