*{
  margin: 0;
}
a{
  color: #666;
  text-decoration: none;
}
a:visited{
  color: #666;
}
/* header */
header{
  background: #F9F9f9;
  border-bottom: 1px solid #DDD;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  width: 100%;
  height: 55px;
  padding: 0 20px;
  position: fixed;
}
.logo{
  width: 150px;
  height: 100%;
  margin: 0 5px;
  background: #666;
  color: #fff;
  float: left;
  line-height: 55px;
  text-align: center;
}

/* 小游戏下拉菜单 */
.games{
  float: left;
  margin: 0 5px;
  text-align: center;  /* 菜单中所有字都水平居中 */
}   /* 包括子菜单在内的整个菜单 */
.games>a{
  line-height: 55px;
}  /* 主菜单 */
.games-down{
  visibility: hidden;  /* 默认不可见 */
  background-color: #F9F9f9;
  box-shadow: 0 3px 5px 3px rgba(0,0,0,0.2);
}  /* 子菜单 */
.games-down a{
  padding: 10px 10px;
  display: block;  /* 子菜单里内容需要block显示，才会竖着排列 */
}  /* 子菜单里的内容 */
.games-down a:hover{
  background: #e0e0e0;
}  /* 鼠标放在下拉菜单内容时 */
.games:hover .games-down{
  visibility: visible;
}  /* 鼠标放在整个菜单时 */

.live{
  float: left;
  margin: 0 5px;
  text-align: center;
  /*background: #ff492e;*/
}
.live>a{
  line-height: 55px;
}
.live-down{
  visibility: hidden;
  background-color: #F9F9f9;
  box-shadow: 0 3px 5px 3px rgba(0,0,0,0.2);
}
.live-down a{
  padding: 10px 10px;
  display: block;
}
.live-down a:hover{
  background: #e0e0e0;
}
.live:hover .live-down{
  visibility: visible;
}




