<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的好友</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/follows.css">
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/calcfontsize.js"></script>
    <script src="/javascripts/common.js"></script>
    <!--<script src="/javascripts/followings.js"></script>-->
</head>
<body>
<!--移动端-->
<div class="collapse"></div>
<div class="expand">
    <p>Hei yo~</p>
    <ul>
        <li><a href="/love/records">LoveStory</a></li>
        <li><a href="/chat/chatroom" target="_blank">公共聊天室</a></li>
        <li><a href="/games/plane/index.html" target="_blank">飞机大战</a></li>
    </ul>
    <!--<div class="line"></div>-->
    <p>推广位</p>
    <ul>
        <li><a href="/other/deleteBadLuck" target="_blank">删除一年霉运</a></li>
        <li><a href="#">推广位</a></li>
    </ul>
    <!--<div class="line"></div>-->
    <p>南通大学</p>
    <ul>
        <li><a href="http://www.ntu.edu.cn/" target="_blank">南通大学官网</a></li>
        <li><a href="http://210.29.65.111/bysj/Index.aspx" target="_blank">毕业设计</a></li>
    </ul>
</div>
<header>
    <div class="header_wrap">
        <div class="logo"><a href="/"></a></div>
        <ul>
            <li><a>Hei yo~</a>
                <div class="dropdown">
                    <a href="/love/records">LoveStory</a>
                    <a href="/chat/chatroom" target="_blank">公共聊天室</a>
                    <a href="/games/plane/index.html" target="_blank">飞机大战（移动端）</a>
                </div>
            </li>
            <li><a>推广位</a>
                <div class="dropdown">
                    <a href="/other/deleteBadLuck" target="_blank">删除一年霉运</a>
                    <a href="#">推广位</a>
                </div>
            </li>
            <li><a>南通大学</a>
                <div class="dropdown">
                    <a href="http://www.ntu.edu.cn/" target="_blank">南通大学官网</a>
                    <a href="http://210.29.65.111/bysj/Index.aspx" target="_blank">毕业设计</a>
                </div>
            </li>
        </ul>
        <a class="login" href="#" id="login">登录</a>
        <div class="my">
            <div class="avatar">
                <div class="wrap"></div>
            </div>
            <div class="dropdown">
                <div class="profile">
                    <h1></h1>
                    <p>
                        <a href="/user/myfollowings"><span>关注</span>&nbsp;<span id="followingNum"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/user/myfollowers"><span>粉丝</span>&nbsp;<span id="followerNum"></span></a>
                    </p>
                </div>
                <a href="/user/zone">我的空间</a>
                <a href="/user/myfriends">我的好友</a>
                <a href="#" id="quit">退出</a>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="main_wrap">
        <div class="following">
            <% data.forEach(function(item){ %>
            <% if(item.U_ID!==uid){ %>
            <a href="/user/other/<%=item.U_ID %> " class="following-item" target="_blank">
                <%=item.U_USERNAME %>
            </a>
            <% } %>
            <% }) %>
        </div>
        <h3>这里的人是和你互相关注的哦~</h3>
    </div>
</main>
</body>
</html>
