<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoveStory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="/stylesheets/loveRecords.css">
    <script src="/jquery-2.1.4/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/calcfontsize.js"></script>
    <script src="/javascripts/loveRecords.js"></script>
</head>
<body>
<div class="welcome">
    <h2><span></span>，<%=user.username %></h2>
</div>
<div class="alert_input">
    <div class="input_wrap" clearfix>
        <textarea>
        </textarea>
        <div class="selects">
            <select id="year">
                <option value="2019">2019年</option>
                <option value="2018">2018年</option>
                <option value="2017">2017年</option>
                <option value="2016">2016年</option>
            </select>
            <select id="month">
                <option value="1">1月</option>
                <option value="2">2月</option>
                <option value="3">3月</option>
                <option value="4">4月</option>
                <option value="5">5月</option>
                <option value="6">6月</option>
                <option value="7">7月</option>
                <option value="8">8月</option>
                <option value="9">9月</option>
                <option value="10">10月</option>
                <option value="11">11月</option>
                <option value="12">12月</option>
            </select>
            <select id="day">
                <option value="1">1日</option>
                <option value="2">2日</option>
                <option value="3">3日</option>
                <option value="4">4日</option>
                <option value="5">5日</option>
                <option value="6">6日</option>
                <option value="7">7日</option>
                <option value="8">8日</option>
                <option value="9">9日</option>
                <option value="10">10日</option>
                <option value="11">11日</option>
                <option value="12">12日</option>
                <option value="13">13日</option>
                <option value="14">14日</option>
                <option value="15">15日</option>
                <option value="16">16日</option>
                <option value="17">17日</option>
                <option value="18">18日</option>
                <option value="19">19日</option>
                <option value="20">20日</option>
                <option value="21">21日</option>
                <option value="22">22日</option>
                <option value="23">23日</option>
                <option value="24">24日</option>
                <option value="25">25日</option>
                <option value="26">26日</option>
                <option value="27">27日</option>
                <option value="28">28日</option>
                <option value="29">29日</option>
                <option value="30">30日</option>
                <option value="31">31日</option>


            </select>
        </div>
        <div class="buttons">
            <button class="cancel">取消</button>
            <button class="submit">确定</button>
        </div>
    </div>

</div>
<div class="wrap">
    <div class="index"><a href="/">首页</a></div>
    <div class="title">♥LoveStory</div>
    <div class="quit">登出</div>
    <div class="content">
        <% data.forEach(function(item){%>
        <div class="content_item">
            <span></span>
            <p><%=item.LR_CONTENT %></p>
            <div class="date"><em><%=item.LR_YEAR %>年<%=item.LR_MONTH %>月<%=item.LR_DAY %>日</em></div>
        </div>
        <% }) %>
    </div>
    <div class="write">
        <div class="text">
            <span>我也要写</span>&nbsp;<span>✏</span>
        </div>
    </div>
</div>
</body>
</html>
