<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的空间</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/zone.css">
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/calcfontsize.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/zone.js"></script>
</head>
<body>
<!--移动端-->
<div class="collapse"></div>
<div class="expand">
    <p>Hei yo~</p>
    <ul>
        <li><a href="/love/records">LoveStory表白墙*</a></li>
        <li><a href="/chat/chatroom" target="_blank">公共聊天室</a></li>
        <li><a href="/games/plane/index.html" target="_blank">双人联机飞机大战</a></li>
    </ul>
    <!--<div class="line"></div>-->
    <p>其他无聊的</p>
    <ul>
        <li><a href="/other/deleteBadLuck" target="_blank">删除一年霉运</a></li>
    </ul>
    <!--<div class="line"></div>-->
    <p>首页内容来源</p>
    <ul>
        <li><a href="http://www.ntu.edu.cn/" target="_blank">南通大学官网</a></li>
        <li><a href="https://www.bilibili.com/" target="_blank">Bilibili视频弹幕网</a></li>
    </ul>
</div>

<div class="editcontent">
    <div class="info"></div>
    <div class="tip"></div>
    <input type="text" id="input_content"/>
    <button class="cancel">取消</button>
    <button class="submit">确定</button>
</div>
<header>
    <div class="header_wrap">
        <div class="logo"><a href="/"></a></div>
        <ul>
            <li><a>Hei yo~</a>
                <div class="dropdown">
                    <a href="/love/records">LoveStory表白墙*</a>
                    <a href="/chat/chatroom" target="_blank">公共聊天室</a>
                    <a href="/games/plane/index.html" target="_blank">双人联机飞机大战</a>
                </div>
            </li>
            <li><a>其他无聊的</a>
                <div class="dropdown">
                    <a href="/other/deleteBadLuck" target="_blank">删除一年霉运</a>
                </div>
            </li>
            <li><a>首页内容来源</a>
                <div class="dropdown">
                    <a href="http://www.ntu.edu.cn/" target="_blank">南通大学官网</a>
                    <a href="https://www.bilibili.com/" target="_blank">Bilibili视频弹幕网</a>
                </div>
            </li>
        </ul>
        <a class="login" href="javascript:void(0);" id="login">登录</a>
        <div class="my">
            <div class="avatar">
                <div class="wrap"></div>
            </div>
            <div class="dropdown">
                <div class="profile">
                    <h1></h1>
                    <p>
                        <a href="/user/myfollowings"><span>关注</span>&nbsp;<span id="followingNum"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/user/myfollowers"><span>粉丝</span>&nbsp;<span id="followerNum"></span></a>
                    </p>
                </div>
                <a href="/user/zone">我的空间</a>
                <a href="/user/myfriends">我的好友</a>
                <a href="javascript:void(0);" id="quit">退出</a>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="main_wrap">
        <div class="module_title publish"><p>我的发布</p></div>
        <div class="publish_content">
            <% data.forEach(function(item){%>
            <div class="content_item">
                <div class="extra">
                    <div class="all <% if(item.LR_AUTHORITY=='all'){ %> choosed ">所有人可见<% }else{ %>
                        ">设为所有人可见<%}%>
                    </div>
                    <div class="friend <% if(item.LR_AUTHORITY=='friend'){ %> choosed ">互关好友可见<% }else{ %>
                        ">设为互关好友可见<%}%>
                    </div>
                    <div class="me <% if(item.LR_AUTHORITY=='me'){ %> choosed ">仅自己可见<% }else{ %>
                        ">设为仅自己可见<%}%>
                    </div>
                </div>
                <p id="<%=item.LR_ID %>"><span></span><%=item.LR_CONTENT %></p>
                <div class="date"><em><%=item.LR_PUBLISH_DATE %></em></div>
            </div>
            <% }) %>
            <script>
                $(function () {
                    $(".publish_content .content_item span").each(function (index) {
                        var r = Math.floor(Math.random() * 256);
                        var g = Math.floor(Math.random() * 256);
                        var b = Math.floor(Math.random() * 256);
                        var rgb = '(' + r + ',' + g + ',' + b + ')';
                        $(this).css({background: "rgb" + rgb})
                    })
                })
            </script>
        </div>
        <div class="module_title pet"><p>我的宠物<a href="/petexplanation.html" target="_blank">说明</a></p></div>
        <div class="pet_content">
            <iframe  src="/pet.html" width="100%" height="100%" frameborder="0"></iframe>
        </div>
        <div class="module_title profile"><p>我的信息</p></div>
        <div class="profile_content">
            <h3>用户名</h3>
            <p><%=user.username %><span id="edit_username">更改</span></p>
            <h3>密码</h3>
            <p><%=user.password %><span id="edit_password">更改</span></p>
            <h3>宠物名</h3>
            <p><em>无名</em><span id="edit_petname">更改</span></p>
        </div>
    </div>
</main>

</body>
</html>
